html, 
body {
    background: rgb(84, 3, 113) !important;
    color: #00B4D8 !important;
    background-image: none !important;
}

.cover-container {
    max-width: 100vw;
    height: 60vh;
    margin: 0 auto;
}

.post-content .logo-container,
.article-page .logo-container {
    display: none !important;
}

.cover-image {
    object-fit: cover;
    background-size: cover;
}

@media (min-width: 992px) {
    .main-content {
        max-width: 60%;
        padding-right: 35%;
    }
    
    .cover-container {
        width: 75vw;
        height: 70vh;
        right: 5%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .cover-container {
        width: 90vw;
        height: 50vh;
        margin: 2rem auto;
    }
}

@media (max-width: 767px) {
    .cover-container {
        width: 100%;
        height: 40vh;
        margin: 1rem 0;
    }
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #00B4D8 !important;
    text-decoration: none !important;
}

.mobile-logo-link {
    display: none;
}