html,body{
    margin:0;
    background:#000;
  }
  
  body::before{
    content:"";
    position:fixed;
    top:40px;
    left:50%;
    transform:translateX(-50%);
  
    width:600px;
    height:399px;
    background:url("/assets/img/cover.jpg") no-repeat center top;
    background-size:auto;
  
    z-index:-1;/
    pointer-events:none;
  }
  